# dependencies
node_modules
.pnpm-store

# build output
dist
.output
.nuxt
.nitro
.cache

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# test
coverage
test-results
playwright-report

# misc
*.tsbuildinfo
